.SliderSection
  position relative
.Slider
  max-height 80vh
  h(550px)
  bg(black)
  max-width 100%
  overflow hidden
.Slide
  h(100%)
  mw(100vw)
  background-repeat no-repeat
  background-size cover
  background-position center
.SlideContent
  color white
.Bullets
  w(100%)
  position absolute
  bottom 24px
  left 0
.Bullet
  display inline-block
  h(12px)
  w(12px)
  margin 4px
  border-radius 50%
  cursor pointer
  border 1px solid white
  &.Active
    bg(white)