.Btn, a.Btn, button.Btn
  padding 8px 16px
  cursor pointer
  border-radius 4px
  display inline-block
  text-decoration none
  color $color_primary
  transtionAll()
  font-size 14px
  border none
  &:hover
    filter brightness(.8)
  &.BtnPrimary
    color white
    bg($color_primary)
  &.BtnSecondary
    color white
    bg($color_secondary)
