.BGPrimary
  bg($color_primary)
.BGSecondary
  bg($color_secondary)

.ColorPrimary
  color $color_primary
.ColorSeconday
  color $color_secondary
body,
.ColorText
  color $color_text
.ColorDescription
  color $color_description
